bin
obj
packages/
!packages/repositories.config
*.suo
*.csproj.user
*.pubxml.user
*.DotSettings.user
*/nuget.exe
TestResults/
packages
AppPackages
.vs
*.exe
*.dll
TestResults
project.lock.json
Binaries/
Debug/
Release/
_ReSharper.Caches/
**/hs_err_*.log