<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="RoleCacheTimeout" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="EventCacheTimeout" value="0" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors mode="On" xdt:Transform="Replace" defaultRedirect="Error" />
	</system.web>
</configuration>