@model AccountView

@{
	ViewBag.Title = "Account";
}

<div class="text-center">
	<div class="panel inline padding-20 margin-20">
		<h1>@Model.Name</h1>
		<h6 class="gray">@Model.EmailAddress</h6>
		<div class="row links">
			@foreach(var role in Model.Roles)
			{
				<span>@role</span>
			}
		</div>
	</div>
</div>