<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="server=localhost;database=Speedy;integrated security=true;" />
		<add name="DefaultConnection2" connectionString="server=localhost;database=Speedy2;integrated security=true;" />
	</connectionStrings>
</configuration>